/* 动态渐变背景 */

body {
    background-color: #b3e5fc;
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive !important;
    padding: 0;
    min-height: 100vh;
    
}

    /* background: linear-gradient(-45deg, #e6f7ff, #b3e5fc, #81d4fa, #4fc3f7); */



/* 自定义导航栏样式 */
.navbar {
    background-color: rgba(46, 139, 87, 0.8);
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff !important; /* 白色文字 */
}

.navbar-nav .nav-link {
    color: #ffffff !important; /* 白色文字 */
    margin-left: 15px;
}

/* 自定义标题样式 */

h1, h2, h3, h4, h5, h6 {
    color: #2e8b57; /* 深绿色 */
    font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}

h1 {
    font-size: 3rem;
    color: #2e8b57; /* 深绿色 */
    margin-top: 50px;
    text-align: center;
    position: relative; /* 确保文字在色块上方 */
    z-index: 1;
}

/* 自定义段落样式 */
p {
    font-size: 1.2rem;
    color: #333333;
    line-height: 1.6;
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    position: relative; /* 确保文字在色块上方 */
    z-index: 1;
} 
